.coverPic{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}
 
.xituc {
    z-index:10000;
    position:fixed;
    width:200px;
    height:200px;
    margin-top:30vh;
    margin-left:38vw; 
}
  
.shahe {
    width:200px;
    height:200px;
    margin-top:9.5vh;
    margin-left:38vw;
    z-index:1000;  
    position:fixed;
}