.coverPic{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}
 
.xituc {
    z-index:10000;
    position:fixed;
    width:180px;
    height:180px;
    margin-top:30.5vh;
    margin-left:38vw;  
}
  
.shahe {
    width:180px;
    height:180px; 
    margin-top:7vh;
    margin-left:38vw;
    z-index:1000;  
    position:fixed; 
}