.coverPic{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    
}
 
// .xituc {
//     z-index:10000;
//     position:fixed;
//     width:180px;
//     height:180px;
//     margin-top:30.5vh; 
//     margin-left:38vw;    
// }  
     
.shahe {
    width:300px; 
    height:300px;  
    margin-top:6vh;     
    margin-left:30vw; 
    z-index:1000;    
    position:fixed;   
}  

.zongheban {
    position: relative;
    top:80vh;
    
    text-align: center;
}
.lantu {
    position: relative;
    top:81vh;
    
    text-align: center;
}
.lianhe {
    position: relative;
    top:82vh;
    
    text-align: center;
}