
.campusSelect{
    position:fixed;
    height:100px;
    left:0;
    width:200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.Map {
    position:fixed;
    width:100%;
    top:0;
}
.campusDetail{
    margin:"2.5vh";
    position:fixed;
    top:0;
    left:0;
    width:200px;
    margin-left:10px;
    height:100px;
    background-color: white;
    line-height: 60px;
    text-align: center;
    color:rgba(43,100,177);
    font-size: 35px;
    z-index:1000;
    border-radius: 20px;
}

.campusContainer {
    display: flex;
    flex-flow: column nowrap;
}

.campusTop{
    display: flex;
    flex-flow: row nowrap;
}

.xiala {
    width:20px;
    height:20px;
}

.campusTitle {
    position:fixed;
    top:40px;
    left:30px;
    background-color: white;
    color: rgba(43,100,177);
    border-radius: 20px;
    font-size: 28px;
    padding: 15px;
    letter-spacing: 3px;
    text-align: center;
}

.vrImage {
    position: fixed;
    width:80px;
    height:80px;
    top:45vh;
    left:5vw;
}

.rightBar{
    height: 60vh;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 3.5vw;
    // background-color: aqua;
    position: fixed;
    right: 0;
}

.functionSelectImage {
    width:40px;
    height:40px;
    padding-top: 3.5vh;
}

.triangle_white{
    height: 16px;
    width: 24%;
    padding-top: 1vh;
}

.placeBar{
    background: white;
    border-radius: 10px;
    padding: 1vh;
    flex-direction: column;
} 

.notSelectedPlaceTitle{
    margin:0 5px;
    padding: 0.5vh;
    color:rgb(134, 134, 134);
    font-size: 28px;
    height: 4vh;
    width: 16vw;
    text-align: center;
}

.isSelectedPlaceTitle{
    margin:0 5px;
    padding: 0.5vh;
    color:rgba(43,100,177);
    font-size: 28px;
    height: 4vh;
    width: 16vw;
    text-align: center;
}

.placeDetail{
    width: 100%;
    height: 40vh;
    overflow: scroll;
}

.displaySelect{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    letter-spacing: 3px;
    padding: 10px;
    height: 60px;
    color: rgb(0, 191, 255);
    border: 3px solid rgba(151, 151, 151, 0.3);
    box-shadow: 0 2px 3px rgba(151, 151, 151, 0.3);
}

.detailGroup{
    display: flex;
    flex-direction: row;
    height:160px;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.detailGroupActive{
    display: flex;
    background:#ebebeb;
    color:rgba(43,100,177);
    flex-direction: row;
    height:160px;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.detailInfo {
    display: flex;    

}
.placePicHolder{
   padding-left:30px;
   display: flex;
   flex-direction: row;
}

.placePic{
    width: 150px;
    height: 105px;
}

.placeTitle{
    padding-left:45px;
    width:400px;
    display: flex;
    align-items: center;
}

.navigationImage {
    height:50px;
    width:50px;
}