
.campusSelect{
    position:fixed;
    height:100px;
    left:0;
    width:200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.Map {
    position:fixed;
    width:100%;
    top:0;
}
.campusDetail{
    margin:"2.5vh";
    position:fixed;
    top:0;
    left:0;
    width:200px;
    margin-left:10px;
    height:100px;
    background-color: white;
    line-height: 60px;
    text-align: center;
    color:rgba(43,100,177);
    font-size: 35px;
    z-index:1000;
    border-radius: 20px;
}

.campusContainer {
    display: flex;
    flex-flow: column nowrap;
}

.campusTop{
    display: flex;
    flex-flow: row nowrap;
}

.xiala {
    width:20px;
    height:20px;
}

.functionSelectImage {
    width:40px;
    height:40px;
    margin-left:87vw;
    margin-top:2.5vh;
}

.campusTitle {
    top:30px;
    position:fixed;
    left:20px;
}

.vrImage {
    position: fixed;
    width:70px;
    height:70px;
    top:48vh;
    left:5vw;
}
.topBar{
    width:170px;
    margin-left:75vw;
    background: white;
  
} 

.topBar:before {
    position: absolute;
    content: "";
    width:0;
    height:0;
    margin-left:10vw;
    margin-top:-40px;
    border: 20px solid transparent;
    border-bottom-color: white;
}

.placeSelect{
    padding-top:6vh;
    padding-bottom:6vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    
    // width: 80vw;
    // position: relative;
    // margin-left: 35vw;
    // padding: 10px 0 10px 0;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
}

.placeTypes {
    // top:-75px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.notSelectedPlaceTitle{
    margin:0 5px;
    padding: 1vh;
    color:rgba(43,100,177);
    height: 5vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isSelectedPlaceTitle{
    margin:0 5px;
    padding: 1vh;
    color:rgba(43,100,177);
    background-color: rgba(229, 229, 229, 0.7);
    height: 5vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeDetail{
    width: 100%;
    height: 40vh;
    overflow: scroll;
}

.displaySelect{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    letter-spacing: 3px;
    padding: 10px;
    height: 60px;
    color: rgb(0, 191, 255);
    border: 3px solid rgba(151, 151, 151, 0.3);
    box-shadow: 0 2px 3px rgba(151, 151, 151, 0.3);
}

.detailGroup{
    display: flex;
    flex-direction: row;
    height:160px;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.detailGroupActive{
    display: flex;
    background:#ebebeb;
    color:rgba(43,100,177);
    flex-direction: row;
    height:160px;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.detailInfo {
    display: flex;    

}
.placePicHolder{
   padding-left:30px;
   display: flex;
   flex-direction: row;
}

.placePic{
    width: 150px;
    height: 105px;
}

.placeTitle{
    padding-left:45px;
    width:400px;
    display: flex;
    align-items: center;
}

.navigationImage {
    height:50px;
    width:50px;
}