.page {
    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll ;
    background-color: rgba(235, 235, 235, 0.5); 
    // background-color: red;

}
.placePicture{
    width: 750px;
    height:500px;     
} 

.navImage { 
    height:50px;  
    width:50px;     
}  
.titleGroup{ 
    background:white;   
    display: flex;  
    flex-direction: row;   
    align-items: center;    
    padding: 4%;      
    height: 7vh;  
} 

.title{ 
    padding: 10px;
    width: 80%; 
    font-size: 40px;
    color: #1564b8;  
}

.palyerCountainer{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding:50px 40px 30px 40px;    
} 
 
  

.detail{ 
    display: flex;
    flex-flow: column nowrap; 
    background-color: rgba(235, 235, 235, 0.3);
    font-size: 28px;
}

.placeDiscription{
    // background-color: rgba(235, 235, 235, 0.3);
    word-break:break-all; 
    display: flex;
    flex-flow: column wrap;
    width:608px;
    padding-left:70px;
    padding-top:30px;
    
}

.zongheban {
    text-align: center;
}
.lantu {
    text-align: center;
}
.lianhe {
    text-align: center;
}

